<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
        <td><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.id}"></a></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.content}"></td>
    </tr>
    </tbody>
</table>
<hr>
<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != currentPage}" th:href="@{/board-list/(page=${page-1})}" th:text="${page}"</a>
    <strong th:if="${page == currentPage}" th:text="${page}"></strong>
</th:block>
</body>
</html>